.breadcrumb {
  margin-top: 1em;
  @include breakpoint($mq-small) {
    margin-top: 3em;
  }

  li {
    list-style: none;
    display: inline-block;

    a {
      margin-right: 0.8em;
    }

    &:not(:first-child) {
      a {
        margin-left: 0.8em;
      }
    }

    &::after {
      content: '›';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

.partialcrumb {
  li {
    &:last-child {
      a {
        margin-left: 0;
      }
    }
  }
}

.hiddencrumb {
  display: none;

  @include breakpoint($mq-small) {
    display: block;
  }
}
