.c-button {
  background-color: transparent;
  border: 1px solid $galablue !important;
  border-radius: 0.5em;
  color: $galablue;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.1s ease 0.1s;
  margin: 0;

  font-family: $heading-small;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 110%;
  font-size: 0.9em;

  &:hover {
    background-color: $galablue;
    color: $ltoffwhite;
  }

  &-t-dark{
    background-color: $ltyellow;
    border: none;

    &:hover {
      background-color: $yellow;
      color: $umblue;
    }
  }
}
