.button {
  background-color: transparent;
  border: 1px solid $galablue !important;
  border-radius: 0.5em;
  color: $galablue;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.1s ease 0.1s;

  h5, h6 {
    padding: 0;
    margin: 0;
  }

  &:hover {
    background-color: $galablue;
    color: $ltoffwhite;
  }

  &ondark {
    background-color: $ltyellow;
    border: none;

    h5, h6 {
      font-size: 1em;
    }

    &:hover {
      background-color: $yellow;
    }
  }
}
