ul.toc {
  margin: 0;
  border: 1px solid $ltltgrey;

  li {
    list-style: none;
    //display: inline-block;
  }

  a {
    //display: inline-block;
    border: none;
    padding: .75em 0 .75em 3em;
    font-size: .9em;

    &:hover {
      color: $green;
    }
  }
}
