ul.toc {
  margin: 0;
  margin-top: 0.5em;

  li {
    list-style: none;

    &::before {
      content: '→';
    }
  }

  a {
    border: none;
    padding-left: 0.5em;

    &:hover {
      color: $green;
    }
  }
}
