.footer {
  background-color: $umblue;
  padding: 3em 0;

  .footerheading {
    text-align: center;
    color: $ltoffwhite;
  }

  h4 {
    margin-bottom: 1.8em;
  }
}

.footerflex {
  margin-top: 2.2em;
  justify-content: space-between;

  h4 {
    margin-bottom: 0.5em;
  }
}

.footerflexitem {
  color: $ltgrey;
  text-align: center;
  li {
    list-style: none;
  }
}

.footermenu a {
    display: block;
    color: $offwhite;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
}

.footerbottom {
    border-top: 1px solid $ltgrey;
    justify-content: space-between;
    margin-top: 2em;
}

.copyright {
  text-align: left;
  color: $ltgrey;
  padding: 0.5em 0;
}

.colophon {
  text-align: right;
}

.colophon a {
    display: block;
    color: $offwhite;
    padding: 0.5em 0;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
}

footer > div {
  font-size: .8em;
}
