.footer {
  background-color: $umblue;
  padding: 3em 0;

  .footerheading {
    text-align: center;
    color: $ltoffwhite;
  }

  h4 {
    margin-bottom: 1.8em;
  }
}

.footerflex {
  margin-top: 2.2em;
  @include justify-content-space-between;
}

.footerflexitem {
  color: $ltgrey;
  text-align: center;

  li {
    list-style: none;
  }

  h4 {
    margin-bottom: 0.9em;
  }
}

.footermenu a {
    display: block;
    color: $offwhite;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
}

.footerbottom {
    border-top: 1px solid $ltgrey;
    justify-content: space-between;
    margin-top: 2em;

    @include breakpoint($mq-small) {
      margin-top: 0.5em;
    }
}

.copyright {
  text-align: left;
  color: $ltgrey;
  padding: 2em 0;

  @include breakpoint($mq-small) {
    padding-bottom: 0;
    text-align: center;
  }
}

footer > div {
  font-size: .9em;
  line-height: 2em;

  @include breakpoint($mq-small) {
    line-height: 2.5em;
  }
}
