.footer {
  background-color: $umblue;
  padding: 3em 0;

  h4 {
    margin-bottom: 1.8em;
  }

  &__heading {
    text-align: center;
    color: $ltoffwhite;
  }

  &__flexcontainer {
    margin-top: 2.2em;
    @include justify-content-space-between;

    .footer__flexitem {
      color: $ltgrey;
      text-align: center;
      @include flex(1);

      li {
        list-style: none;
      }

      h4 {
        margin-bottom: 0.8em;
      }
    }
  }

  &__menu a {
    display: block;
    color: $offwhite;
    line-height: 120%;
    margin-top: 0.8em;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }

  &__bottom {
    border-top: 1px solid $ltgrey;
    justify-content: space-between;
    margin-top: 2em;

    @include breakpoint($mq-small) {
      margin-top: 0.5em;
    }
  }

  &__copyright {
    text-align: left;
    color: $ltgrey;
    padding: 2em 0;

    @include breakpoint($mq-small) {
      padding-bottom: 0;
      text-align: center;
    }
  }
}

footer > div {
  font-size: .9em;
  line-height: 2em;

  @include breakpoint($mq-small) {
    line-height: 2.5em;
  }
}
