.footer {
  background-color: $umblue;
  padding: 4em 0;

  .footerheading {
    text-align: center;
    color: $ltoffwhite;
  }

  h4 {
    margin-bottom: 1.8em;
  }
}

.footerflex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: flex-start;
  -ms-flex-pack: flex-start;
  align-items: flex-start;
  margin-top: 2.2em;

  h4 {
    margin-bottom: 0.5em;
  }
}

.footerflexitem {
  -webkit-flex: 1;
  -ms-flex:1;
  flex:1;
  color: $ltgrey;
  text-align: center;
  li {
    list-style: none;
  }
}

.footermenu a {
    display: block;
    color: $offwhite;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
}

.footerbottom {
    border-top: 1px solid $ltgrey;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2em;
}


.copyright {
  -webkit-flex: 1;
  -ms-flex:1;
  flex:1;
  text-align: left;
  color: $ltgrey;
  padding: 0.5em 0;
}

.colophon {
  -webkit-flex: 1;
  -ms-flex:1;
  flex:1;
  text-align: right;
}

.colophon a {
    display: block;
    color: $offwhite;
    padding: 0.5em 0;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
}

footer > div {
  font-size: .8em;
}
