.flex-container {
	display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.flex-column-grid {
  flex-direction: column;
}

.flex-growing {
	flex: 1;
}

.flex-column {
  @media screen and (max-width: $medium-max) {
    flex-flow: column nowrap;
  }
  @media screen and (max-width: $small-max) {
    padding-bottom: 0.8em;
  }
}

.hide {
  @media screen and (max-width: $small-max) {
    display: none;
  }
}
