.flex-container {
	display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.flex-column-grid {
  flex-direction: column;
}

.flex-growing {
	flex: 1;
}

.flex-column {
  @include breakpoint($mq-medium) {
    flex-flow: column nowrap;
  }
  @include breakpoint($mq-small) {
    padding-bottom: 0.8em;
  }
}

.hide {
  @include breakpoint($mq-small) {
    display: none;
  }
}
