.header {
  padding-top: 1em;
}

//The background opacity on homepage header top.
.headerbg {
  -webkit-backdrop-filter: blur(5px) brightness(150%);
  background-color: rgba(249, 248, 242, 0.3);
  @supports not (-webkit-backdrop-filter: blur(5px)) {
    background-color: rgba(249, 248, 242, 0.8);
  }
  padding-bottom: 0.8em;
}

.logo {
  display: block;
  float: left;

  img{
     width: 20em;
   }

   @include breakpoint($mq-small) {
     margin-left: 4.5em;
   }
}

//Home page banner
.intro {
  background-position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
  color: $ltoffwhite;
  height: 450px;
  @include display-flex;
  @include flex-direction-column;
  @include justify-content-space-between;

  .site {
    width: 100%;
  }

  h1 {
    line-height: 90%;
    margin: 0 auto;
    margin-bottom: 0.2em;
  }

  p {
    font-weight: 300;
    max-width: 40em;
    padding-bottom: 1.5em;
  }
}

//Parent page banner
.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: $ltoffwhite;
  height: 400px;
  margin-top: -1.5em;
}

.centerbox {
  text-align: center;

  h1 {
    padding-top: 7.5em;
    font-weight: 200;
    line-height: 110%;
    margin-bottom: 0.2em;

    @include breakpoint ($mq-small){
      padding-top: 9em;
    }
  }

  p {
    font-weight: 300;
  }
}

//Child page banner
.hero-child {
  background: none;
  margin-top: -2em;

  .centerbox {
   h1 {
     padding-top: 1.7em;
     margin-bottom: 0.4em;

     @include breakpoint($mq-small) {
       padding-top: 1.2em;
     }
   }
  }
}
