.header {
  padding-top: 1em;
}

.headerbg {
  background-color: rgba(249, 248, 242, 0.6);
  padding-bottom: 0.8em;
}

.homebanner {
  @media screen and (max-width: 1320px) {
    padding-left: 0.5em;
  }
  @media screen and (max-width: $medium-max) {
    padding-left: 1em;
  }
}

.logo {
  display: block;
  float: left;

  img{
     width: 20em;
   }
}

//Home page banner
.intro {
  background-position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
  color: $ltoffwhite;
  height: 450px;

  h1 {
    font-family: $banner-heading;
    font-weight: 100;
    font-size: 44pt;
    font-style: italic;
    line-height: 90%;
    margin: 4.8em 0 0.1em 0;
    @media screen and (max-width: $small-max) {
      margin-top: 4.5em;
    }

    @media screen and (max-width: 551px) {
      margin-top: 3.8em;
    }
  }

  p {
    font-weight: 300;
    max-width: 40em;
  }
}

//Child page banner
.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: $ltoffwhite;
  height: 400px;
  margin-top: -1.5em;
}

.centerbox {
  text-align: center;

  h1 {
    padding-top: 7.5em;
    font-family: $banner-heading;
    font-weight: 100;
    font-style: italic;
  }

  p {
    font-weight: 300;
  }
}
