.main {
  ol, ul {
    margin-bottom: 1em;
  }

  ul {
    margin-left: 1.5em;

    li {
      margin-bottom: 0.6em;
    }
  }
}

//Ordered list with circle
.t-blog ol {
  list-style-type: none;
  counter-reset: section;
  margin-left: 3em;
  position: relative;

  > li {
      text-align: -webkit-match-parent;

      h3 {
        padding-top: 0.23rem;
        @include breakpoint($mq-small) {
          padding-top: 0.4rem;
        }
      }

      &::before {
        border-radius: 50%;
        border: 2px solid $galablue;
        color: $galablue;
        display: block;
        height: 35px;
        left: -53px;
        line-height: 31px;
        position: absolute;
        text-align: center;
        width: 35px;
        content: counter(section);
        counter-increment: section;
        padding-left: 0.8px;

        @media screen and (max-width: 640px) {
          left: -45px;
        }
      }
    }
}
