.c-menu {
  float: right;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  a {
    display: block;
    color: $umblue;
    font-size: 0.9em;
    margin: 0 1.4em;
    font-weight: 400;
    &:hover {
      color: $vividblue;
      text-decoration: none;
    }
  }

  .active {
    padding: 1.1em 1.3em;
    margin: -1.1em 0;
    border-bottom: 2px solid $ltyellow;
    background-color: $ltyellow;
  }

  li {
    list-style: none;
    float: left;
  }
}

.c-submenu__container {
  background-color: $ltyellow;
  border-top: 2px solid $ltyellow;

  @include breakpoint($mq-small) {
    background-color: transparent;
    border: none;
  }
}

.c-submenu__item {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  ul {
    display: inline-block;
    list-style: none;
    font-size: 0.7em;
  }

  li {
    display: inline-block;
    margin: 0.75em 1.5em;
  }

  a {
    color: $umblue;
    &:hover, &.active {
      color: $vividblue;
    }
  }
}

//Mobile menu styles starts here
.c-button#c-menu-mobile--open {
  font-size: 0.9em;
  position: fixed;
}

#c-menu-mobile--open {
  display: none;
  cursor: pointer;
  left: 0.6em;
  top: 0.7em;
  z-index: 100;
  font-size: 1em;
  padding: 0.5em .75em;
  background: $ltltyellow;

  &:hover {
    color: $galablue;
  }

  @include breakpoint($mq-small) {
    display: block;
  }
}

.c-menu-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  width: 18em;
  max-height: 100%;
  z-index: 200;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch; //enable the fast scrolling on iphones

  @media screen and (max-width: 23em){
    width: calc(100% - 5em);
  }

  ul, li, li a {
    list-style: none;
    display: block;
  }

  a {
    padding: 10px;
    text-decoration: none;
    transition: all .2s;
    padding-left: 1rem;
  }

  li a:hover,
  li a:focus {
    color: $vividblue;
  }
}

.c-menu-mobile--close {
  background-color: $ltltyellow;
  color: $galablue;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "tenso", sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin: 0;
}

.u-content-mask {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  //Blur function for safari users
  -webkit-backdrop-filter: blur(3px) brightness(30%);
  background-color: transparent !important;
  @supports not (-webkit-backdrop-filter: blur(5px)) {
    background-color: black;
    background-color: rgba( black, 0.7 ) !important;
  }
}

//Styles for different level menus
.c-nest-menu {
  &__firstlevel {
    padding-top: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    background: $offwhite;

    li a.active {
      background-color: $galablue;
      color: $white;
    }
  }

  &__secondlevel {
    font-weight: normal;
    letter-spacing: 0;
    background-color: $offwhite;

    li {
      border-bottom: solid 1px $white;
      &:last-child {
        border: none;
        padding-bottom: 1em;
      }

      .active {
        background-color: $galablue;
        color: $white;
      }

      a {
        padding-left: 2em;
        padding-top: 10px;
      }
    }
  }
}
