.menu {
  float: right;
  a {
    display: block;
    color: $umblue;
    font-size: 0.9em;
    margin: 0 1.4em;
    font-weight: 400;
    &:hover {
      color: lighten($umblue, 25%);
      text-decoration: none;
    }
  }
  .active {
    padding: 1.1em 1.3em;
    margin: -1.1em 0;
    border-bottom: 2px solid lighten($yellow, 25%);
    background-color: lighten($yellow, 25%);
  }
  li {
    list-style: none;
    position: relative;
    float: left;
  }
}

.submenu {
  text-align: center;
  ul {
    display: inline-block;
    list-style: none;
    font-size: .7em;
  }
  li {
    display: inline-block;
    margin: .75em 1.5em;
  }
  a {
    color: $umblue;
    &:hover, &.active {
      color: lighten($umblue, 25%);
    }
  }
}

.submenu-bg {
  background-color: lighten($yellow, 25%);
  margin-top: 1em;
  border-top: 2px solid lighten($yellow, 25%);

  @media screen and (max-width: $small-max) {
    background-color: transparent;
    border: none;
    margin-top: 2.5em;
  }
}

#responsive-nav {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  z-index: 100;

  padding: 0.8em 0;
  background: lighten($yellow, 25%);

  @media screen and (max-width: $small-max) {
    display: block;
  }
}


.menu-mobile {
  display: none;
  text-align: center;

  @media screen and (max-width: $small-max) {
    display: block;
  }

  ul, li, li a {
    list-style: none;
    display: block;
  }

  li a {
    padding: 5px;
    text-decoration: none;
    transition: all .2s;
  }

  li a:hover,
  li a:focus {
    background: lighten($yellow, 25%);
    color: lighten($umblue, 25%);
  }
}

.first-level {
  background-color: $galablue;
  a{
    color: $ltgrey;
  }
}

.second-level {
  font-size: 0.9em;
  background-color: $offwhite;
  a{
    color: $galablue;
  }
}
