//Intro
.intro-text h4 {
  padding-top: 0.2rem;

  @include breakpoint($mq-small) {
    padding-top: 0.4rem;
  }
}

//List
.custom-counter {
  list-style-type: none;
  counter-reset: section;
  margin-left: 3em;
  position: relative;

  > li {
    margin: 1em 0;
    text-align: -webkit-match-parent;

    &::before {
      border-radius: 50%;
      border: 2px solid $galablue;
      color: $galablue;
      display: block;
      height: 35px;
      left: -53px;
      line-height: 31px;
      position: absolute;
      text-align: center;
      width: 35px;
      content: counter(section);
      counter-increment: section;

      @media screen and (max-width: 640px) {
        left: -45px;
      }
    }
  }
}

//Action items
.actions {
  margin-bottom: 3em;

  section {
    background-color: $white;
    @include border-radius(1rem);
    margin-bottom: 1em;
    max-height: 220px;
  }
  img {
    border-radius: 1rem 0 0 1rem;
    flex: 3;
    object-fit: cover;
    max-width: 30%
  }
  &-arrow {
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;

    span {
      font-size: 60px;
      color: mix($darkgrey, $white, 50%);
    }
  }

  .flex-container{
    &:hover {
      transform: scale(1.02);
    }
  }
}

.actiontext-vertical {
  flex: 7;
  padding: 1.5em 1.5em 0.5em 0.5em;
  margin-left: 1em;

  p {
  color: $ltgrey;
  font-size: 0.9em;
  }
}
