//Action items
.u-actionitem {
  margin-bottom: 3em;

  section {
    background-color: $white;
    @include border-radius(1rem);
    margin-bottom: 1em;
    max-height: 200px;

    @media screen and (max-width: 450px) {
      max-height: 230px;
    }
  }
  img {
    border-radius: 1rem 0 0 1rem;
    @include flex(3);
    object-fit: cover;
    max-width: 30%;

    @media screen and (max-width: 450px) {
      max-width: 35%;
      border-radius: 0 1rem 1rem 0;
    }
  }

  h3 {
    margin-top: 0.2em;
    @media screen and (max-width: 450px) {
      margin-top: 0;
    }
  }

  p {
    margin-top: 1em;
    padding-bottom: 0;
    @media screen and (max-width: 450px) {
      margin-top: 0;
    }
  }

  &__arrow {
    width: 2em;
    @include display-flex;
    @include flex-direction-column;
    @include justify-content(center);
    @include flex-align-items(center);
    padding-right: 2rem;

    span {
      font-size: 70px;
      color: mix($darkgrey, $white, 50%);
    }
    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  .o-flex-container{
    transition: transform 0.1s ease 0.1s;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);

      span {
        font-size: 80px;
        color: $galablue;
      }
    }
    @media screen and (max-width: 450px) {
      @include flex-direction-row-reverse;
    }
  }
}

.u-actionitem__text {
  @include flex(7);
  padding: 1.5em 1.5em 0.5em 0.5em;
  margin-left: 1em;

  p {
  color: $ltgrey;
  font-size: 0.9em;
  }
}

#action h2 {
  margin-bottom: 1.4em;
  margin-top: 1em;
}

#action .c-separate-text {
  h2 {
    margin-bottom: auto;
  }
}
