.o-child-background {
  margin-top: 2.5em;
  background-color: $offwhite;
  padding: 2em 0;

  h5 {
    margin-top: 3em;
  }
}

audio {
  float: right;
}

.c-keyfeature {
  @include flex(3);

  @include breakpoint ($mq-small){
    @include flex(2);
  }
}

.c-keyfeature__img {
  @include flex(1);

  img {
    padding-left: 15%;
    width: 100%;

    @media screen and (max-width: 540px){
      padding-left: 0;
      width: 50%;
      padding-top: 0.5em;
      margin: 0 auto;
    }
  }
}

.c-keyfeature__container{
  @media screen and (max-width: 540px){
    display: block;
  }
}

//Partners
.u-partners {
  h2 {
    margin-bottom: 1em;
  }
}

.u-um-logos {
  @include justify-content-start;
  margin-bottom: 1em;

  @include breakpoint ($mq-extra-small) {
    display: block;
  }

  figure {
    @include flex-tri-parameters(0, 1, 48%);
    margin-right: 2%;
    opacity: 0.85;
    transition: opacity 0.02s ease 0.02s;

    img {
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.u-beyond-um-logos {
  @include justify-content-start;
  margin-bottom: 0.8em;

  figure {
    @include flex-tri-parameters(0, 1, 23%);
    margin-right: 2%;
    opacity: 0.85;
    transition: opacity 0.02s ease 0.02s;

    img {
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }

    @include breakpoint ($mq-extra-small) {
      @include flex-tri-parameters(0, 1, 45%);
    }
  }
}

//Elements examples
.u-element-examples {
  .o-flex-container {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
  }

  .u-element-examples__figures {
    margin-bottom: 1em;
  }

  .background {
    width: 100%;

    img {
      border-radius: 5px;
    }
  }

  .u-element-examples__description {
    @include flex-tri-parameters (1,1,20em);
  }

  & > div:nth-child(even) {
    @include flex-direction-row-reverse;
  }
}

//Actions children page
#learn {
  iframe {
    width:100%;
    height:475px;

    @include breakpoint ($mq-small){
      height:300px;
    }
  }

  h2:not(:first-child){
    margin-top: 1.2em;
  }
}

#collaborate {
  .o-image--wideright {
    img {
      border-radius: 0;
      border: solid 5px $ltltgrey
    }
  }

  .child-icon {
    img {
      width: 50px;
      float: left;
      margin-top: 1em;
    }
  }

  .icon-h3 h3{
    clear:right;
    margin-top: 2.8em;
    margin-left: 3em;
    margin-bottom: 1em;
  }

  .no-clear h3{
    clear: none;
  }
}

#make {
  .video iframe {
    width:100%;
    height:475px;

    @include breakpoint ($mq-small){
      height:300px;
    }
  }
}

h2#make-a-case-funding-available {
  margin-top: 3em;
  text-align: center;
  margin-bottom: 1em;
}

#teach {
  iframe {
    width:100%;
    height:475px;

    @include breakpoint ($mq-small){
      height:300px;
    }
  }
}

#chart_div {
  background: none;
}

//Elements children page
#edgenotes {
  .gala-embedded-card h3 {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

#podcast .u-element-examples {
  .u-element-examples__figures {
    height: 11em;
    @include flex-tri-parameters (1,1,15em);
    background-size: cover;
    border-radius: 2pt;
    @include display-flex;
    @include flex-align-items-end;
    audio {
      border-bottom: 4px solid #6ACB72;
      border-radius: 2pt;
      width: 100%;
    }
    @media screen and (max-width: 580px) {
      height: 12em;
    }
  }

  div.u-element-examples__description {
    margin-right: 1.5em;
    @media screen and (max-width: 580px) {
      margin-right: 0;
    }
  }

  & > div:nth-child(odd) {
    @include flex-direction-row-reverse;
  }
}

#narrative .u-element-examples {
  & > div:nth-child(odd) {
    .u-element-examples__figures {
      margin-right: 1em;

      @media screen and (max-width: 575px){
        margin-right: 0;
      }
    }
  }

  & > div:nth-child(even) {
    .u-element-examples__figures {
      margin-left: 1em;

      @media screen and (max-width: 575px){
        margin-left: 0;
      }
    }
  }

  .u-element-examples__figures {
  @include flex-tri-parameters (1,1,15em);
  border-radius: 5px;
  @include display-flex;
  @include justify-content-center;
  background-size: cover;
  position: relative;
    & > figure {
      width: 60%;
      padding: 1em;
      img {
        border-radius: 100%;
        box-shadow: 0 0 3em 0 rgba(black, .5);
      }
    }
  }
}

#exercise .u-element-examples {
  div.u-element-examples__description {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  & > div:nth-child(even) {
    @include flex-direction-initial;
    .u-element-examples__figures {
      margin-right: 1.5em;
      @media screen and (max-width: 620px) {
        margin-right: 0;
      }
    }
  }

  & > div:nth-child(odd) {
    @include flex-direction-row-reverse;
    .u-element-examples__figures {
      margin-left: 1em;
      @media screen and (max-width: 620px) {
        margin-left: 0;
      }
    }
  }

  .u-element-examples__figures {
    margin-bottom: 0;
    @include flex-tri-parameters (1,1,18em);
    figure {

      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

//MSC Initiative pages
#msc {
  figcaption {
    margin-top: -0.8em;
  }
}

#vision {
  figcaption {
    margin-bottom: 2em;
  }

  .video {
    margin-top: 2em;
  }

  iframe {
    width:100%;
    height:475px;

    @include breakpoint ($mq-small){
      height:300px;
    }
  }
}

//Contact page
#contact {
  section.hero {
    display: none;
  }

  h1 {
    display: none;
  }

  iframe {
    margin-bottom: 1.5em;
  }

  section.blog {
    margin-bottom: 3em;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

//Evaluation page
.o-charts {
  @include justify-content-space-between;

  @include breakpoint ($mq-small) {
    @include justify-content-center;
  }

  &--float {
    float: right;
    margin-left: 1.5em;

    @media screen and (max-width: 641px) {
      float: none;
      @include justify-content-center;
      margin: 0 auto;
    }
  }
}
