.child-background {
  margin-top: 2.5em;
  background-color: $offwhite;
  padding: 2em 0;

  h2 {
    text-align: center;
  }

  h5 {
    margin-top: 3em;
  }
}

audio {
  float: right;
}

.keyfeature {
  @include flex(3);

  @include breakpoint ($mq-small){
    @include flex(2);
  }
}

.keyfeature-img {
  @include flex(1);

  img {
    padding-left: 15%;
    width: 100%;

    @media screen and (max-width: 540px){
      padding-left: 0;
      width: 50%;
      padding-top: 0.5em;
      margin: 0 auto;
    }
  }
}

.keyfeature-container{
  @media screen and (max-width: 540px){
    display: block;
  }
}
