.child-page {
  margin-bottom: 4em;
}

.child-background {
  margin-top: 2.5em;
  background-color: $offwhite;
  margin-bottom: 0;
  padding: 2em 0 2em 0;
  margin-bottom: -4em;
  
  h2 {
    text-align: center;
  }
  
  h5 {
    margin-top: 3em;
  }
}

.child-bg-image {
  max-width: 100%;
  margin: 0.5em 0;
  border-radius: 3px;
}

.child figcaption {
  font-size: 0.8em;
  font-style: italic;
  background-color: #fffef8;
  padding: 0.3em 1em;
  line-height: 1.2em;
}

audio {
  float: right;
}