.flip-flop {
  padding: 2em 0;
  border-bottom: 1px solid $ltltgrey;

  figure {
    @include flex-tri-parameters(0, 1, 10em);
  }

  div {
    @include flex-tri-parameters(2, 1, 45em);
    padding: 2em 0;
  }

  &:first-child {
    border-top: 1px solid $ltltgrey;
  }

  &:nth-child(odd) {
    @include flex-direction-row-reverse;

    figure {
      padding-left: 4em;
      padding-top: 3em;
    }
  }

  &:nth-child(even) > figure {
    padding-right: 4em;
    padding-top: 3em;
  }
}

@media screen and (min-width: 760px){
  .flip-flop {
    figure {
      @include flex(1);
    }

    div {
      @include flex(2);
    }
  }
}

@media screen and (max-width: 759px) {
  .flip-flop {
    &:nth-child(odd) > figure {
      padding-left: 0;
      padding-bottom: 1.5em;
      padding-top: 0;
    }
    &:nth-child(even) > figure {
      padding-right: 0;
      padding-bottom: 1.5em;
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 40em) {
  .flip-flop > div {
    padding: 0;
  }
}
