.flip-flop {
  padding: 2em 0;
  border-bottom: 1px solid $ltltgrey;
  &:first-child {
    border-top: 1px solid $ltltgrey;
  }
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  img {
      flex: 0 1 10em;
      width: 100%;
      height: 100%;
      position: relative;
  }

  div {
    flex: 1 1 45em;
    padding: 2em 0;
  }
}

@media screen and (min-width: 760px){
  .flip-flop {
    img {
      flex: 1;
    }

    div {
      flex: 2;
    }
  }
}

.flip-flop {
  &:nth-child(odd) > img {
    padding-left: 4em;
  }
  &:nth-child(even) > img {
    padding-right: 4em;
  }
}

@media screen and (max-width: 759px) {
  .flip-flop {
    &:nth-child(odd) > img {
      padding-left: 0;
      padding-bottom: 1.5em;
    }
    &:nth-child(even) > img {
      padding-right: 0;
      padding-bottom: 1.5em;
    }
  }
}

@media screen and (max-width: 40em) {
  .flip-flop > div {
    padding: 0;
  }
}
