//events nav
.o-events-nav {
  ul {
    border-bottom: 2px solid $ltgrey;
    padding-bottom: 0.4em;
    margin-left: 0;
    text-align: center;
  }

  li {
    font-family: $heading-default;
    display: inline-block;
    list-style: none;
    margin-right: 1em;
    margin-bottom: 0 !important;
  }

  a {
    color: $ltgrey;
    border-bottom: none;
    padding: 0.5em 1.5em;

    &.active {
      color: $vividblue;
      border-bottom: 2px solid $vividblue;
    }

    &:hover {
      color: $vividblue;
      border-bottom: 2px solid $vividblue;
    }
  }
}

//search form
.o-search-box {
  margin: 2em 0 1em 0;

  @include breakpoint($mq-small) {
    margin-top: 1em;
  }
}

.o-search-box {
  display: flex;
  justify-content: flex-start;

  span {
    border: 1px solid $ltgrey;
    border-right: 0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    background: $white;
    padding: 0.5em;
  }

  &__text {
  	border:1px solid $ltgrey;
    border-right: 0px;
    border-left: 0px;
    padding: 0 0.5em;
    width: 100%;
  }

  &__active-filters {
    display: flex;
    align-items: center;
    background: $white;
    border-top: solid 1px $umblue;
    border-bottom: solid 1px $umblue;
  }

  &__button {
  	cursor: pointer;
    padding: 0 0.5em;
  	text-align: center;
  	text-decoration: none;
    color: $galablue;
  	border: solid 1px $ltgrey;
    border-left: 0;
  	background: $white;
  	border-top-right-radius: 5px 5px;
  	border-bottom-right-radius: 5px 5px;

    &:hover {
    	color: $umblue;
    }
  }
}

//search filters
.o-search-filters {
  border-bottom: 1px solid $ltltgrey;
  margin-top: 0.5em;

  h5 {
    display: inline-block;
    float: left;
    margin-right: 2em;
  }

  ul {
    margin-bottom: 0;

    li {
      display: inline-block;
      padding: 0 1em;
      border-right: 1px solid $ltltgrey;

      a {
        border-bottom: 0;
      }
    }
  }
}

.o-selected-filters {
  border-bottom: 1px solid $ltltgrey;
  margin-top: 0.5em;
  padding-bottom: 0.5em;

  h5 {
    display: inline-block;
    float: left;
    margin-right: 2em;
  }

  ul {
    margin-bottom: 0;
    float: left;

    li {
      display: inline-block;
      padding: 0 1em;

      &:last-child {
        padding-right: 2em;
      }
    }
  }
}

//single event
.o-single-event {
  background: $white;
  margin: 2em 0;
  padding: 1em;
  border: 1.5px solid $ltltgrey;
  @include border-radius(5px);

  &__date, &__topic-area {
    float: left;
    margin-right: 0.5em;
  }

  &__date {
    @include breakpoint($mq-small) {
      float: none;
    }
  }

  @include breakpoint($mq-small) {
    display: block;
  }
}

ul.o-event-tags {
  margin-bottom: 0.5em;
  @include breakpoint($mq-small) {
    margin-left: 0;
  }
}

.o-event-tags {
  li {
    display: inline-block;
    list-style: none;
    background: $taggrey;
    padding: 0 0.5em;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
}

.o-event {
  &-description{
    flex: 3;
    margin-left: 0.8em;

    h2 {
      margin-bottom: 0.9em;
    }

    @include breakpoint($mq-small) {
      margin-left: inherit;
    }
  }
  &-registration {
    flex: 1;
    margin-left: 1em;

    @include breakpoint($mq-small) {
      margin-left: inherit;
    }

    ul{
      margin-bottom: 0.5em;
      margin-left: 0;

      li {
        margin-bottom: auto;
        list-style: none;
        display: flex;
        margin-bottom: 0.2em;

        span {
          display: inline-block;
          margin-right: 0.5em;
        }

        a {
          border-bottom: 0;
        }
      }
    }

    .c-button {
      text-transform: none;
      padding: 0.3em 0.6em;
      letter-spacing: initial;
    }
  }
}


//previous events pages
#previous-events {
  .c-breadcrumb--partial {
    display: none;
    @include breakpoint($mq-small) {
      display: inherit;
    }
  }
}

//The search filters to the search box
.o-tag {
  background: rgba(138, 155, 168, 0.2);
  color: #182026;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  min-width: 20px;
  padding: 2px 15px 2px 6px;
  line-height: 16px;
  font-size: 12px;
  margin: 0 0.25em;
}

.o-tag-remove {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  border: none;
  background: none;
  cursor: pointer;
  padding: 2px;
  &::before {
    content: '×';
  }
}

// H1
.events {
  .hero__text {
    h1 {
      padding-top: 0.4em;
      padding-bottom: 0.7em;
    }
  }
}
