//events nav
.c-events-nav {
  ul {
    border-bottom: 2px solid $ltgrey;
    padding-bottom: 0.4em;
    margin-left: 0;
    text-align: center;
  }

  li {
    font-family: $heading-default;
    display: inline-block;
    list-style: none;
    margin-right: 1em;
    margin-bottom: 0 !important;
  }

  a {
    color: $ltgrey;
    border-bottom: none;
    padding: 0.5em 1.5em;

    &.active {
      color: $vividblue;
      border-bottom: 2px solid $vividblue;
    }

    &:hover {
      color: $vividblue;
      border-bottom: 2px solid $vividblue;
    }
  }
}

//search form
.o-search-box {
  margin: 2em 0 1em 0;
  position: relative;

  @include breakpoint($mq-small) {
    margin-top: 1em;
  }
}

.o-search-box {
  display: flex;
  justify-content: flex-start;


  img {
    position: absolute;
    left: 0;
    padding: 0.5em;
  }

  &__text {
    padding: 0.3em 0.3em 0.3em 2.2em;
    width: 100%;
    border:1px solid $ltgrey;
    @include border-radius(5px);
  }

  &__active-filters {
    position: absolute;
    top: 0.2em;
    right: 4em;
  }

  &__button {
  	cursor: pointer;
    padding: 0 0.5em;
  	text-align: center;
  	text-decoration: none;
    color: $galablue;
    border-left: 0;
    position: absolute;
    right: 0.1em;
    font-size: 0.8em;
    top: 0.3em;


    &:hover {
    	color: $umblue;
    }
  }
}

//search filters
.c-search-filters {
  h3 {
    font-size: 1em;
    margin-bottom: 1em;
  }
  &__category {
    border-bottom: 1px solid $ltltgrey;
    margin-top: 0.5em;
    display: flex;
    align-items: center;

    h4 {
      flex-basis: 4.2em;
      font-size: 0.8em;
    }

    ul {
      margin-bottom: 0;
      margin-left: 0;

      li {
        display: inline-block;
        padding: 0 0.6em;

        a {
          border-bottom: 0;
        }
      }
    }
  }
}

//single event
.c-single-event {
  background: $white;
  margin: 2em 0;
  padding: 1em;
  border: 1.5px solid $ltltgrey;
  @include border-radius(5px);
  align-items: center;

  p {
    margin-bottom: 0;
  }

  &__date {
    @include breakpoint($mq-small) {
      float: none;
    }
  }

  @include breakpoint($mq-small) {
    display: block;
  }
}

ul.c-event-tags {
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  @include breakpoint($mq-small) {
    margin-left: 0;
  }
}

.c-event-tags {
  li {
    display: inline-block;
    list-style: none;
    background: $taggrey;
    padding: 0 0.5em;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
}

.c-event {
  &-description{
    flex: 3;
    margin-left: 0.8em;

    &__topics {
      display: flex;
    }

    @include breakpoint($mq-small) {
      margin-left: inherit;
    }
  }
  &-registration {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 0.2em;
    margin-right: 0.8em;

    @include breakpoint($mq-small) {
      margin-top: 0.5em;
      margin-right: inherit;
    }

    p {
      margin-bottom: auto;
      display: flex;

      img {
        display: inline-block;
        margin-right: 0.5em;
      }

      a {
        border-bottom: 0;
      }
    }

    .c-button {
      text-transform: none;
      padding: 0.4em 0.6em;
      letter-spacing: initial;
      margin-top: 0.5em;
    }
  }
}


//previous events pages
#previous-events {
  .c-breadcrumb--partial {
    display: none;
    @include breakpoint($mq-small) {
      display: inherit;
    }
  }
}

//The search filters to the search box
.o-tag {
  background: rgba(138, 155, 168, 0.2);
  color: #182026;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  min-width: 20px;
  padding: 2px 15px 2px 6px;
  line-height: 16px;
  font-size: 12px;
  margin: 0 0.25em;
}

.o-tag-remove {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  border: none;
  background: none;
  cursor: pointer;
  padding: 2px;
  &::before {
    content: '×';
  }
}

// H1
.events, .events-previous {
  .hero__text {
    h1 {
      padding-top: 0.4em;
      padding-bottom: 0.7em;
    }
  }
}

.events-previous {
  .c-button {
    margin-top: 0;
  }
}
