//events nav
.o-events-nav {
  ul {
    border-bottom: 2px solid $ltgrey;
    padding-bottom: 0.4em;
    margin-left: 0;
  }

  li {
    font-family: $heading-default;
    display: inline-block;
    list-style: none;
    margin-right: 1em;
    margin-bottom: 0 !important;
  }

  a {
    color: $ltgrey;
    border-bottom: none;
    padding: 0.5em 1.5em;

    &.active {
      color: $vividblue;
      border-bottom: 2px solid $vividblue;
    }

    &:hover {
      color: $vividblue;
      border-bottom: 2px solid $vividblue;
    }
  }
}

//search form
#o-search-box {
  margin: 1.7em 0 1em 0;
}

.o-search-box {
  &__text {
  	border:1px solid $galablue;
    border-right: 0px;
    padding: 0 0.5em;
  	border-top-left-radius: 5px 5px;
  	border-bottom-left-radius: 5px 5px;
  }

  &__button {
  	cursor: pointer;
    padding: 0 0.5em;
  	text-align: center;
  	text-decoration: none;
  	color: $ltoffwhite;
  	border: solid 1px $umblue;
  	background: $galablue;
  	border-top-right-radius: 5px 5px;
  	border-bottom-right-radius: 5px 5px;

    &:hover {
    	background: $umblue;
    }
  }
}

//search filters
.o-search-filters {
  border-bottom: 1px solid $ltltgrey;
  margin-top: 0.5em;

  h5 {
    display: inline-block;
    float: left;
    margin-right: 2em;
  }

  ul {
    margin-bottom: 0;

    li {
      display: inline-block;
      padding: 0 1em;
      border-right: 1px solid $ltltgrey;
    }
  }
}

.o-selected-filters {
  border-bottom: 1px solid $ltltgrey;
  margin-top: 0.5em;
  padding-bottom: 0.5em;

  h5 {
    display: inline-block;
    float: left;
    margin-right: 2em;
  }

  ul {
    margin-bottom: 0;
    float: left;

    li {
      display: inline-block;
      padding: 0 1em;

      &:last-child {
        padding-right: 2em;
      }
    }
  }
}

//single event
.o-single-event {
  background: $white;
  margin: 2em 0;
  padding: 1em;
  border: 1.5px solid $ltltgrey;
  @include border-radius(5px);

  &__date {
    float: left;
    margin-right: 0.5em;
  }
}

.o-event-tags {
  li {
    display: inline-block;
    list-style: none;
    background: $ltltgrey;
    padding: 0 0.5em;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
}

.o-event {
  &-description{
    flex: 3;
  }
  &-registration {
    flex: 1;

    ul{
      margin-bottom: 0.5em;
      li {
        margin-bottom: auto;
        list-style: none;
      }
    }
  }
}
