.guide {
  h2 {
    font-size: 1.35em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
  }

  h3 {
    font-size: 1.15em;
    margin-bottom: 0.3em;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 0.2em;
  }
}

.o-guide__nav {
  @include flex(1);
  margin-right: 2.5em;
  margin-bottom: 2em;

  @media screen and (max-width: 532px) {
    margin: 0 auto;
  }

  ul {
    margin-left: auto;

    li {
      margin-bottom: auto;
    }
  }

  ul, li, li a {
    list-style: none;
    display: block;
  }

  a {
    text-decoration: none;
  }

  li a:hover,
  li a:focus {
    color: $vividblue;
    border-bottom: 2px solid $ltltgrey;
  }
}

.o-guide__nav {
  .c-nest-menu__firstlevel{
    font-weight: normal;
    padding-top: initial;
    letter-spacing: inherit;
    background: none;

    li {
      a.active {
        color: $vividblue;
        background: none;
      }

      a {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
      }
    }
  }

  .c-nest-menu__secondlevel {
    background: none;
    li {
      border-bottom: none;

      &:last-child{
        border: auto;
        padding-bottom: initial;
      }

      a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }

      a.active {
        color: $vividblue;
        background: none;
      }
    }
  }

  ul.c-nest-menu__secondlevel {
    margin-bottom: auto;
  }
}

.o-guide__content {
  @include flex(2.5);
  min-width: 20em;
  margin-bottom: 2em;

  @media screen and (max-width: 532px) {
    margin-top: 1.5em;
  }

  h1 {
    margin-top: 0;
  }
}

.o-guide__print__button {
  text-transform: none;
  letter-spacing: normal;

  &:hover {
    color: $white !important;
  }
}

.table {
  overflow: scroll;
}

table {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 1.5em;
    border: solid 1px $offwhite;
    min-width: 30em;
}

th, td {
    border: none;
    text-align: left;
    padding: 0.5em;
}

tr:nth-child(even){
  background-color: $offwhite;
}

#production-guide {
  .c-breadcrumb--partial {
    display: none;
  }
}

.o-guide__breadcrumb{
  margin-top: -1.5em;

  @include breakpoint ($mq-small) {
    margin-top: 2em;
  }
}

code {
    font-family: monospace, monospace;
    font-size: 1em;
    padding: 0.1em 0.2em;
    border-radius: 2px;
    background-color: $pink;
}

.o-boxblock {
  border: solid 1px $ltgrey;
  padding: 1em 1em 0 1em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
