.guide-nav {
  flex: 1;
  margin-right: 2em;

  ul {
    margin-left: auto;
  }

  ul, li, li a {
    list-style: none;
    display: block;
  }

  a {
    text-decoration: none;
  }

  li a:hover,
  li a:focus {
    color: $vividblue;
  }
}

.guide-content {
  flex: 2;
}
