.guide-nav {
  ul, li, li a {
    list-style: none;
    display: block;
  }

  a {
    padding: 10px;
    text-decoration: none;
    transition: all .2s;
    padding-left: 1rem;
  }

  li a:hover,
  li a:focus {
    color: $vividblue;
  }
}
