// Section headings
.heading {
  text-align: center;
  margin: 2.5em 0 0.5em 0;
}

.center-text {
  text-align: center;
}

// Actions
.actions {
  padding-bottom: 3em;
}

.action-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1em;

  > div {
    flex: 0 0 24%;
    margin: 0.5%;
    border: 1px solid $bgyellow;
    @include border-radius(0.2rem);

    &:hover {
      border: 2px solid $yellow;
    }
  }
  img {
    width: 20em;
    display: block;
    border-radius: 0.2rem 0.2rem 0 0;
  }
  h2 {
    padding: 0.75rem;
  }
  h4 {
    clear: left;
  }
  &:nth-child(even) {
    padding-right: 0;
  }
}

@media screen and (max-width: 50em) {
  .action-items > div {
    flex: 0 0 100%;
    padding: 1em;
  }
}

.actiontext {
  padding: 1.5em 0.5em 0.5em 0.5em;
  text-align: center;

  p {
  color: $ltgrey;
  font-size: 0.9em;
  }
}

//Elements
.elements {
  padding-top: 0.001em;
  margin: 0;
  background-color: $ltoffwhite;
  padding-bottom: 3em;
}

.flex-3-cols {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-pack: center;
	align-items: center;
}

.flex-4-8{
	-webkit-flex: 4;
	-ms-flex:4;
	flex:4;
}

.flex-2-8{
	-webkit-flex: 2;
	-ms-flex:2;
	flex:2;
}

.ver-flex {
  display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
}

.flex-1-2 {
  -webkit-flex: 1;
  -ms-flex:1;
  flex:1;
  margin-top: 1em;
  p {
    color: $ltgrey;
    font-size: 0.9em;
  }
}

.img-inline {
  display: inline-block;
  float: left;
  height: 2em;
  margin-right: 0.5em;
}

.flex-1-2 h5 {
  margin-top: 1.2em;
}

.right {
  margin-left: 1.5em;
}

//Vision
.vision-tagline h1, .elements-tagline h1 {
  margin: 0;
}

.vision-tagline {
  background-color: $green;
  color: $darkgrey;
}

.vision-frame {
  background: url('../../content/home/greenphoto.jpg');
  background-position: absolute;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1572px){
  .vision-frame{
    background: #E2D7A7;
  }
}

.vision-container {
  padding-top: 0.01em;
  padding-bottom: 4em;

  img{
    width: 5em;
    display: inline-block;
    float: left;
    padding-right: 0.5em;
  }

  h4 {
    margin-top: 1.5em;
  }

  div:nth-child(4) {
    clear: left;
  }

  .conclude {
    clear: both;
    padding-top: 1.5em;
  }
}

.column {
  width: 33%;
  padding: 0.5em;
  float: left;
}

@media screen and (max-width: 1313px){
  .column{
    width: 45%;
  }

  .vision div:nth-child(3){
    clear: left;
  }

  .vision div:nth-child(4){
    clear:none;
  }
}

.vision {
  display: flex;
  flex-flow: row wrap;
  padding: 1em 0 2em 0;
}

.number {
  flex: 1 0 20em;
  margin-bottom: 1em;
  text-align: center;
}

.number-value {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  @include border-radius(4rem);
  text-align: center;
  padding-top: 0.8rem;
  border-width: 3px;
  border-style: solid;
  font-weight: 500;
  font-size: 140%;
}
.number:nth-of-type(1) .number-value { border-color: $galablue }
.number:nth-of-type(2) .number-value { border-color: $brown }
.number:nth-of-type(3) .number-value { border-color: $yellow }
.number:nth-of-type(4) .number-value { border-color: $purple }
.number:nth-of-type(5) .number-value { border-color: $vividblue }
.number:nth-of-type(6) .number-value { border-color: $green }

.number-description {
  display: inline;
  margin-left: 0.5em;
}

//Scrollable device image
.scrollable {
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  background-color: $greyblue;
}

.device-banner {
  background: url("../../content/home/devicebanner.png");
  background-position: absolute;
  min-height: 600px;
  min-width: 4000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: $ltoffwhite;
}
