main.home section {
  padding-top: 2.8em;
  &:first-child {padding-top: 0.8em;}

  &:nth-child(even) {background-color: $offwhite;}

  padding-bottom: 2.5em;
  text-align: center;

  p {
  color: $ltgrey;
  font-size: 0.9em;
  font-weight: 300;
  }

  h5 {
    font-weight: 350;
  }
}

.learn-more-link {
  font-size: 1.1em;
  &:hover {
    text-decoration: underline;
  }
}

// Actions
.action-items {
  padding-top: 0.8em;
  padding-bottom: 1em;

  > div {
    flex: 0 0 24%;
    margin: 0.5% 0.5% 1.5% 0.5%;
    background-color: lighten($offwhite, 9%);
    @include border-radius(0.2rem);

    @include breakpoint($mq-medium) {
      flex: 0 0 49%;
    }

    @include breakpoint($mq-extra-small) {
      flex: 0 0 98%;
    }
  }

  img {
    display: block;
    border-radius: 0.2rem 0.2rem 0 0;
  }

  p {
    line-height: 1.4em;
  }

  &>div:hover {
    transform: scale(1.02);
  }
}

.actiontext {
  padding: 1.5em 0.5em 0.5em 0.5em;
  text-align: center;
}

//Elements
.flex-center-img{
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    padding-right: 1.6em;

    @include breakpoint($mq-small) {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }
  }
}

.element-description {
  flex: 1 1 15em;
  margin-top: 0.5em;
  padding: 1.7em 0.6em;
  text-align: left;

  h5 {
    margin-top: 0.8em;
  }

  p {
    color: darken($ltgrey, 5%) !important;
    line-height: 1.4em;
  }

  @include breakpoint($mq-small) {
    padding-bottom: 0;
    padding-top: 0;
  }

  &:hover {
    transform: scale(1.03);
    @include border-radius(0.2rem);
  }
}

.img-inline {
  display: inline-block;
  float: left;
  height: 2em;
  padding-right: 0.5em;
}

//Vision
.number {
  &-description {
    margin-top: 1.5em;
  }

  &:nth-child(4) {
    clear: left;
  }
}

.vision-data {
  justify-content: center;
  text-align: left;
  padding: 1.4em 0 1.4em 2.4em;

  @include breakpoint($mq-medium) {
    padding-left: 4.5em;
  }
}

@include breakpoint($mq-medium) {
  .vision-data div:nth-child(3){
    clear: left;
  }
  .vision-data div:nth-child(4){
    clear:none;
  }
}

.number {
  flex: 1 0 17em;
  margin-bottom: 1em;
}

.number-value {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  @include border-radius(4rem);
  text-align: center;
  padding-top: 1rem;
  border-width: 3px;
  border-style: solid;
  font-weight: 500;
  font-size: 140%;
}
.number:nth-of-type(1) .number-value { border-color: $galablue }
.number:nth-of-type(2) .number-value { border-color: $brown }
.number:nth-of-type(3) .number-value { border-color: $yellow }
.number:nth-of-type(4) .number-value { border-color: $purple }
.number:nth-of-type(5) .number-value { border-color: $vividblue }
.number:nth-of-type(6) .number-value { border-color: $green }

.number-description {
  display: inline;
  margin-left: 0.5em;
}
