.o-member__flexcontainer {
  @include justify-content-start;
  margin-bottom: 1em;
}

.o-member__flexitem {
  flex: 0 1 31%;
  padding: 0;
  margin-right: 0.7em;
  position: relative;

  @media screen and (max-width:630px) {
    flex: 1 1 47%;
  }

  @media screen and (max-width:420px) {
    flex: 1 1 97%;
  }
}

.o-member__flexitem__title {
  position: absolute;
  top: 78%;
  padding: 1% 3%;
  background: rgba(0,0,0,0.2);
  color: $white;

  @media screen and (max-width:1300px) {
    top:71%;
  }

  @media screen and (max-width:420px) {
    top:83%;
  }

  h4 {
    margin-bottom: 0.5em;
  }

  h5 {
    font-weight: 400;
    line-height: 115%;
  }
}
