.vision-child-links {
  margin-bottom: 3em;
  li {
  list-style: none;

    h4 {
      margin-bottom: 0.2em;
    }

    p{
      font-size: 0.9em;
      line-height: 1.2em;
      color: $ltgrey;
      &:hover {
        color: $umblue;
      }
    }
  }
}
