Resources:
    sslSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 443
            FromPort: 443
            CidrIp: 0.0.0.0/0

files:
    /tmp/renew_cert_cron:
        mode: "000777"
        owner: root
        group: root
        content: |
            # renew Lets encrypt cert with certbot command
            0 1,13 * * * /tmp/certbot-auto renew

packages:
    yum:
        epel-release: []
        mod24_ssl : []

container_commands:
    10_installcertbot:
        command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
    20_getcert:
        command: |
            sudo ./certbot-auto \
              --non-interactive \
              --email msc-contact@umich.edu \
              --agree-tos \
              --domain www.teachmsc.org \
              --webroot --webroot-path /var/www/html \
              --installer apache \
              --redirect \
              --keep-until-expiring \
              --debug
    30_mv_certbot_to_temp_for_cron_renew:
        command: "sudo mv ./certbot-auto /tmp"
    40_create_cert_crontab:
        command: "sudo crontab /tmp/renew_cert_cron"
    50_delete_cronjob_file:
        command: "sudo  rm /tmp/renew_cert_cron"
