//Default
img {
  display: block;
  max-width: 100%;
}

figcaption {
  font-style: italic;
  font-size: 90%;
  line-height: 120%;
  text-align: center;
  margin-top: 0.5em;
}

.main {
  figure {
    margin-bottom: 1em;
  }
}

//Image classes that control the float
.o-image--fullwidth, .o-image--floatleft, .o-image--floatright {
  img {
    border-radius: 5px;
  }
}

.o-image--floatleft {
  float: left;
  margin: 15px 15px 0 0;
}

.o-image--floatright {
  float: right;
  margin: 15px 0 0 15px;
}

.o-image--floatleft, .o-image--floatright {
  max-width: 400px;

  @include breakpoint($mq-small) {
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

//Image classes that make the images wider than max-width of the container
.o-image--wideleft {
  max-width: 600px;
  margin: 0px 15px 0 -100px;
}

.o-image--wideright {
  max-width: 600px;
  margin: 0px -100px 0 15px;
}

//Icons, used in Homepage
.u-icon--inline {
  display: inline-block;
  float: left;
  height: 2em;
  padding-right: 0.5em;
}
