//General
html {
  font-size: 14pt;
  min-height: 101%;
  background-color: $ltoffwhite;

  @include breakpoint($mq-small) {
    font-size: 0.95em;
  }

  overflow-x: hidden;
}

// Set max-width
.site{
    position: relative;
    max-width: 60em;
    margin: 0 auto;

    @include breakpoint($mq-large) {
      padding: 0 1em;
    }
}

//Main
.main {
  margin-top: 1.6em;
  clear:inherit;

  p, figure, ol {
    margin-bottom: 1em;
  }

  ul {
    margin-left: 1.5em;
    margin-bottom: 1em;

    li {
      margin-bottom: 0.6em;
    }
  }
}

// Child page max-width
.blog {
  position: relative;
  max-width: 45em;
  margin: 0 auto;
}

//images

.image-full-width{
  figcaption {
    font-style: italic;
  }
  img {border-radius:5px;
  }
  .imgix-screenshot-caption {
    margin-top: -0.9em;
    text-align: center;
    font-size: 90%;
    font-style: italic;
  }
}


// Image classes for parent pages
.image-float-left-parent {
  float: left;
  max-width: 600px;
  margin: 0px 15px 0 -100px;

  img {
    border-radius: 5px;
  }

  @include breakpoint($mq-small) {
    float: none;
    max-width: 100%;
    margin: 0;
  }
}

.image-float-right-parent {
  float: right;
  max-width: 600px;
  margin: 0px -100px 0 15px;

  img {
    border-radius: 5px;
  }

  @include breakpoint($mq-small) {
    float: none;
    max-width: 100%;
    margin: 0;
  }

  figcaption {
    font-style: italic;
  }
}

// Image classes for child pages
.image-float-left {
  float: left;
  max-width: 400px;
  margin: 15px 15px 0 0;

  img {
    border-radius: 5px;
  }

  @include breakpoint($mq-small) {
    float: none;
    max-width: 100%;
    margin: 0;
  }

  figcaption {
    font-style: italic;
  }
}

.evaluation {
  max-width: 300px;
  margin-left: 90px;

  @include breakpoint($mq-small) {
    float: none;
    max-width: 60%;
  }
}

.image-float-right {
  float: right;
  max-width: 400px;
  margin: 15px 0 0 15px;

  img {
    border-radius: 5px;
  }

  @include breakpoint($mq-small) {
    float: none;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  figcaption {
    font-style: italic;
  }
}

//image caption
.imgix-screenshot-caption {
  margin-top: -0.6em;
  margin-left: 1.3em;
  font-size: 90%;
  font-style: italic;
}

//video
.video figcaption {
  font-style: italic;
}

//Quote
blockquote {
  font-style: italic;
  background-color: $ltltgrey;
  padding: 1em 0.5em 0.1em 1em;
  border-radius: 5px;
  margin-bottom: 1em;

  span {
    font-style: normal;
    font-size: 0.9em;
  }
}
