//General
html {
  font-size: 14pt;
  min-height: 101%;
  background-color: $ltoffwhite;

  @media screen and (max-width: 40em) {
    font-size: 0.95em;
   }
}

body {
  color: $darkgrey;
  line-height: 1.5em;
  font-family: $body-text;
}

// Set max-width
.site{
    position: relative;
    max-width: 60em;
    margin: 0 auto;

    @media screen and (max-width: $large-max) {
      padding: 0 1em;
    }
}

//Main
.main {
  margin-top: 2em;
  clear:inherit;

  p, figure, ul, ol {
    margin-bottom: 1.5em;
  }

  a {
    border-bottom: 2px solid $ltltgrey;
    &:hover {
      border-color: $umblue;
    }
  }
}

// Section headings
.heading {
  text-align: center;
}

.center-text {
  text-align: center;
}

// Parent page
.intro-text {
  margin: 3em inherit;
}

// Child page max-width
.blog {
  position: relative;
  max-width: 45em;
  margin: 0 auto;
}
