//General
html {
  font-size: 14pt;
  min-height: 101%;
  background-color: $ltoffwhite;

  @include breakpoint($mq-small) {
    font-size: 0.95em;
  }
}

// Set max-width
.site{
    position: relative;
    max-width: 60em;
    margin: 0 auto;

    @include breakpoint($mq-large) {
      padding: 0 1em;
    }
}

//Main
.main {
  margin-top: 2em;
  clear:inherit;

  p, figure, ul, ol {
    margin-bottom: 1.5em;
  }

  a {
    border-bottom: 2px solid $ltltgrey;
    &:hover {
      border-color: $umblue;
    }
  }
}

// Child page max-width
.blog {
  position: relative;
  max-width: 45em;
  margin: 0 auto;
}

// Image classes
.image-float-left img{
  float: left;
  max-width: 400px;
  margin: 0px 15px 15px 0px;
  border-radius: 5px;

  @include breakpoint($mq-small) {
    max-width: 200px;
  }
}

.image-full-width img{
  border-radius:5px;
}

.image-float-right img{
  float: right;
  max-width: 400px;
  margin: 0px 15px 15px 0px;
  border-radius: 5px;

  @include breakpoint($mq-small) {
    max-width: 200px;
  }
}
