//General
html {
  font-size: 14pt;
  min-height: 101%;
  background-color: $offwhite;
}

@media screen and (max-width: 40em) {
  html {
    font-size: 0.9em;
   }
 }

body {
  color: $darkgrey;
  line-height: 1.5em;
  font-family: $body-text;
}

// Set max-width
.site{
    position: relative;
    max-width: 70em;
    margin: 0 auto;
}

//Main
.main {
  clear:inherit;

  p, figure, ul, ol {
    margin-bottom: 1.5em;
  }

  a {
    border-bottom: 2px solid $ltltgrey;
    &:hover {
      border-color: $umblue;
    }
  }
}

// Scroll to top
.to-top {
  position: fixed;
  padding: 1em 2em;
  right: 0;
  bottom: 1em;
  z-index: 999;
}

.to-top:after {
  content: '\2191';
  margin-left: 0.25em; }
