//General
html {
  font-size: 14pt;
  min-height: 101%;
  background-color: $ltoffwhite;

  @include breakpoint($mq-small) {
    font-size: 0.95em;
  }

  overflow-x: hidden;
}

// Reset
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.u-clearfix:after {
  content: '';
  display: block;
  clear: both;
}

// Set max-width
.t-site{
  position: relative;
  max-width: 60em;
  margin: 0 auto;

  @include breakpoint($mq-large) {
    padding: 0 1em;
  }
}

.t-blog {
  max-width: 45em;
}

//Margins
.main {
  margin-top: 1.6em;
  clear:inherit;
}

//Hide unless on small screen
.u-hide {
  @include breakpoint($mq-small) {
    display: none;
  }
}

//Quote
blockquote {
  &::before {
    color: $ltgrey;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  font-style: italic;
  background-color: $ltltgrey;
  padding: 1.5em 1em 1.5em 2em;
  @include border-radius(5px);
  margin-bottom: 1.5em;
  border-left: 10px solid $ltgrey;

  p {
    display: inline;
  }

  span {
    font-style: normal;
    font-size: 0.9em;
    margin-top: 1em;
    display: block;
    text-align: right;
  }
}

//Text block separated from the bottom paragraph
.c-separate-text{
  margin-bottom: 1.7em;
}
