$banner-heading: 'jubilat', serif;

$heading-default: 'clarendon-urw', serif;
$heading-small: 'tenso', sans-serif;

$body-text: 'tenso', sans-serif;

// Body
body {
  color: $darkgrey;
  line-height: 1.5em;
  font-family: $body-text;
}

// Links
a {
  color: $galablue;
  text-decoration: none;
  transition: color .2s, background .2s, border .2s;

  &:hover {
    color: $umblue;
  }
}

.main a {
    border-bottom: 2px solid $ltltgrey;
    &:hover {
      border-color: $umblue;
    }
  }

// Headings
h1 {
  font-family: $banner-heading;
  font-style: italic;
}

h2, h3, h4 {
  font-family: $heading-default;
  line-height: 110%;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  clear: both;
}

h2 span {
  font-family: $heading-small;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 110%;
  display: block;
  font-size: 0.6em;
}

h3 {
  font-size: 1.125em;
  font-weight: 400;
  clear: both;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

// Section headings
.heading {
  text-align: center;
  margin-bottom: 1em;
}

.center-text {
  text-align: center;
}

// Parent page
.intro-text {
  margin: 2em auto;
}

// Text blocks
.text {
  ul, ol {
    margin-left: 1em;
  }
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

//Home page headings
.intro h1 {
  font-weight: 100;
  font-size: 44pt;
}

.actiontext h3 {
  font-family: $heading-small;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 110%;
  font-size: 0.9em;
}

.element-description {
  h3 {
  font-family: $heading-small;
  color: $galablue;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 110%;
  font-size: 0.9em;
  margin-top: 0.7em;
  display: inline-block;
  }

  a {
    color: inherit;
    border-bottom: none;
  }
}

span.number-value {
  font-family: $body-text;
  font-weight: 500;
  font-size: 1.2em;
}

.learn-more-link h4 {
  font-family: $heading-small;
  font-weight: 300;
  font-size: 0.9em;
}
