$banner-heading: 'jubilat', 'Chaparral Pro', serif;

$heading-default: 'clarendon-urw', 'Georgia', serif;
$heading-small: 'tenso', 'Kohinoor Devanagari', sans-serif;

$body-text: 'tenso', 'Kohinoor Devanagari', sans-serif;

// Body
body {
  color: $darkgrey;
  line-height: 1.5em;
  font-family: $body-text;
}

.main p {
  margin-bottom: 1em;
}

// Headings
h1 {
  font-family: $banner-heading;
  font-style: italic;
}

h2, h3, h4 {
  font-family: $heading-default;
  line-height: 110%;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  clear: both;
}

h2 span {
  font-family: $heading-small;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 110%;
  display: block;
  font-size: 0.6em;
}

h3 {
  font-size: 1.125em;
  font-weight: 400;
  clear: both;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

// Links
a {
  color: $galablue;
  text-decoration: none;
  transition: color .2s, background .2s, border .2s;

  &:hover {
    color: $umblue;
  }
}

.main a {
  border-bottom: 2px solid $ltltgrey;

  &:hover {
    border-color: $umblue;
  }
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}
