/* Header
-------------------------------------------------- */
.header {
  padding: 2em;
}

.logo {
  display: block;
  float: left;

  img{
     width: 22em;
   }
}


.intro {
  margin: 1.5em 0;
  background-position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: $ltoffwhite;
  height: 600px;

  h1 {
    font-family: "jubilat";
    font-weight: 100;
    font-size: 44pt;
    font-style: italic;
    margin: 0.5em -6pt 0.25em 0;
  }

  p {
    font-weight: 300;
    max-width: 40em;
  }
}

@media screen and (min-width: 110em) {
  .intro {
    min-height: 850px;
  }
}

.top-banner{
  margin-bottom: 1.5em;
  background: $darkgrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: $ltoffwhite;
}

.banner-text{

  h1 {
    font-family: "jubilat";
    font-weight: 100;
    font-size: 44pt;
    font-style: italic;
    margin: 0.5em -6pt 0.25em -6pt;
  }

  p {
    font-weight: 300;
    max-width: 40em;
  }
}

.banner-text {
  max-width: 40em;
}

/* Navigation
-------------------------------------------------- */
.menu {
  float: right;
  a {
    display: block;
    color: $ltgrey;
    font-size: 90%;
    padding: .35em 1em;
    font-weight: 400;
    &:hover {
      color: $umblue;
      text-decoration: none;
    }
  }
  .active {
    color: $umblue;
    background-color: $ltltgrey;
  }
  li {
    list-style: none;
    position: relative;
    float: left;
  }
}

.submenu {
  text-align: right;
  > ul {
    display: inline-block;
    list-style: none;
    border-top: 1px solid $ltltgrey;
    border-bottom: 1px solid $ltltgrey;
    font-size: .7em;
    background-color: $ltltgrey;
    margin-top: -1em;
  }
  li {
    display: inline-block;
    margin: .75em 1.5em;
  }
  a {
    &:hover, &.active {
      color: $green;
    }
  }
}

/* Headings
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "clarendon-urw", serif;
  line-height: 110%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
  margin-bottom: .5em;
}

h5 {
  font-family: "tenso";
  font-weight: 300;
  margin-bottom: 0.5em;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

/* Main
-------------------------------------------------- */
.main {
  clear:inherit;
  border-bottom: 2px solid $umblue;
  hr {
    margin: 3em 0;
    height: 2px;
    background: $ltltgrey;
  }
  p, figure, ul, ol {
    margin-bottom: 1.5em;
  }
  a {
    border-bottom: 2px solid $ltltgrey;
    &:hover {
      border-color: $umblue;
    }
  }
}

/* Text blocks */

.text {
  ul, ol {
    margin-left: 1em;
  }
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
