/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}

/* Links
-------------------------------------------------- */
a {
  color: #35536f;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: #02284b;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  font-size: 14pt;
  min-height: 101%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #ebeae4;
}

@media screen and (max-width: 40em) {
  html {
    font-size: 90%; } }

body {
  color: #646464;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

.site{
    position: relative;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 2em 0 2em;
}

/* Header
-------------------------------------------------- */
.header {
  padding: 2em 2em 0 2em;
  margin-bottom: 1.5em;
}

.logo {
  display: block;
}
/* Navigation
-------------------------------------------------- */
.menu a {
  display: block;
  color: #9c9c9c;
  font-size: 90%;
}
.menu a:hover {
  color: #222;
  text-decoration: none;
}
.menu .active {
  color: #02284b;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #ddd;
  font-weight: 400;
}

@media screen and (min-width: 40em) {
  .logo {
    float: left;
  }
  .logo > img{
      width: 25em;
  }
  .menu {
    float: right;
    margin-right: -1em;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: .5em;
}
h2 {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: .5em;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid #02284b;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
.main a {
  border-bottom: 2px solid #ddd;
}
.main a:hover {
  border-color: #222;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Article
-------------------------------------------------- */
article {
  padding: 4em 2em;
}

/* sections
-------------------------------------------------- */
.intro{
  background: url("../../content/home/home2.jpg");
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.text{
  max-width: 700px;
  color: #FFF;
}

.intro p{
  margin-bottom: 0;
}

.intro img{
  margin-top: 1em;
  margin-bottom: 2em;
}

.features {
  background-color:;
}

.section_title{
  text-align: center;
}

.section_title:before {
    margin-right: .5em;
}

.section_title:after {
    margin-left: .5em;
}

.section_title:after, .section_title:before {
    display: inline-block;
    position: relative;
    top: -.3em;
    content: '';
    height: 1px;
    width: 20%;
    background-color: #98bac8;
}



/* columns
-------------------------------------------------- */
.what {
  max-width: 50em;
  margin: auto;
  padding: 1.5em 0 0 0;
}

.greyblue {
  padding: 2em;
  background-color: #98bac8;
  color: #FFF;
}

.lightblue {
  padding: 2em;
  background-color: #d0e4f4;
  color: #555;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex-container > * {
  flex: 0 0 auto;
  height: 100%;
}

.flex-item {
    -webkit-flex: 1 auto;
    flex: 1 auto;
}

.column-left {
  float: left;
  width: 30%;
  padding: 5%;
}

.column-right {
  float: left;
  width: 60%;
  padding: 5%;
}

.features {
  padding: 0;
  margin: 0;
}

.column-left-text {
  float: left;
  width: 60%;
  padding: 5%;
}

.column-right-img {
  float: left;
  width: 30%;
  padding: 5%;
}

.features img{
  max-width: 600px;
}

.column-quarter{
  width: 25%;
  height: 500px;
}

.modularity img{
  max-width: 500px;
}

@media screen and (max-width: 65em){
  .column-quarter{
    width: 50%;
    height: 500px;
  }
}

/*
 :::  Table of contents [Docs]
-------------------------------------------------- */
ul.toc {
  margin: 0;
  counter-reset: count;
  border: 1px solid #ddd;
  border-bottom: 0; }

.toc li {
  list-style: none;
  float: left;}

.toc a {
  position: relative;
  display: block;
  border-bottom: 1px solid #ddd;
  padding: .75em 0 .75em 3em;
  line-height: 1.5em;
  font-size: .9em; }

.toc a:hover {
  border-color: #ddd;
  color: #68bf70}

.toc a:after {
  position: absolute;
  right: 1em;
  color: #999;
  font-weight: 300; }

.toc a:before {
  position: absolute;
  left: 1em;
  color: #999;
  font-weight: 300; }

/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: midnightblue;
  padding-left: .25em;
}
