/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* clearfix
--------------------------------------------------*/
cf:after {
  content: '';
  display: block;
  clear: both;
}

/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}

/* Links
-------------------------------------------------- */
a {
  color: #35536f;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}

a:hover {
  color: #02284b;
}

/* Site
-------------------------------------------------- */
html {
  font-size: 14pt;
  min-height: 101%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #ebeae4;
}

@media screen and (max-width: 40em) {
  html {
    font-size: 90%; } }

body {
  color: #646464;
  line-height: 1.5;
  font-family: "tenso", sans-serif;
  margin: 0 auto;
}

.site{
    position: relative;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 2em;
}
/* Header
-------------------------------------------------- */
.header {
  padding: 2em;
}

.logo {
  display: block;
  float: left;
}

.logo > img{
    width: 22em;
}

.intro{
  margin-top: 1.5em;
  background: url("../../content/home/home2.jpg");
  background-position: absolute;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #F9F8F2;
}

.intro h1 {
  font-family: "jubilat";
  font-weight: 100;
  font-size: 44pt;
  font-style: italic;
  margin: 0.5em -6pt 0.25em -6pt;
}

.intro p {
  font-weight: 300;
  max-width: 40em;
}
/* Navigation
-------------------------------------------------- */
.menu {
  float: right;
  margin-right: -1em;
}

.menu a {
  display: block;
  color: #9c9c9c;
  font-size: 90%;
  padding: .35em 1em;
  font-weight: 400;
}

.menu a:hover {
  color: #02284b;
  text-decoration: none;
}

.menu .active {
  color: #02284b;
}

.menu li {
  list-style: none;
  position: relative;
  float: left;
}

.submenu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  padding: 2em 1em;
}

.secondmenu {
  margin-bottom: 0.5em;
  text-align: right;
}

.secondmenu> ul{
  display: inline-block;
  list-style: none;
  border-bottom: 1px solid #ddd;
  font-size: .7em;
}

.secondmenu li {
  display: inline-block;
  padding: .75em 0 .75em 3em;
}

.secondmenu a:hover,
.secondmenu a.active {
  color: #68bf70;
}

/* Headings
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "clarendon-urw", serif;
  line-height: 110%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
  margin-bottom: .5em;
}

h5 {
  font-family: "tenso";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid #02284b;
}

.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}

.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}

.main a {
  border-bottom: 2px solid #ddd;
}

.main a:hover {
  border-color: #02284b;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Section
-------------------------------------------------- */
section {
  padding: 4em 2em;
}

.section_title{
  overflow: hidden;
  text-align: center;
  line-height: 1.2;
}

.section_title > span {
  position: relative;
  display: inline-block;
}

.section_title > span:before,
.section_title > span:after
{
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #98bac8;
}

.section_title > span:before {
  right: 100%;
  margin-right: 15px;
}

.section_title > span:after {
  left: 100%;
  margin-left: 15px;
}


/* sections
-------------------------------------------------- */

.action-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  padding: 2em 1em;
}

.action-items > div {
  flex: 0 0 50%;
  padding: 1em 1.5em;
  border: 0px solid #DDDDDD;
}

.action-items:nth-child(even) {
  padding-right: 0;
}
@media screen and (min-width: 50em) {
  .action-items div:nth-child(odd) {
    border-right-width: 1px;
  }
  .action-items div:not(:last-child):not(:nth-last-child(2)) {
    border-bottom-width: 1px;
  }
}

@media screen and (max-width: 50em) {
  .action-items > div {
    flex: 0 0 100%;
    padding: 1em;
  }
}

.device-banner{
  background: url("../../content/home/devicebanner.png");
  background-position: absolute;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #F9F8F2;
}

/* columns
-------------------------------------------------- */
.what {
  max-width: 50em;
  margin: auto;
  padding: 1.5em 0 0 0;
}

.greyblue {
  padding: 2em;
  background-color: #98bac8;
  color: #F9F8F2;
}

.lightblue {
  padding: 2em;
  background-color: #d0e4f4;
  color: #555;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.elements {
  padding: 0;
  margin: 0;
}

.flip-flop {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  padding: 2em 1em;
}

.flip-flop:nth-child(odd) {
  flex-direction: row-reverse;
}

.flip-flop > figure {
  flex: 0 1 15em;
  position: relative;
}

figure img {
  width: 100%;
}

.flip-flop > div {
  flex: 0 1 40em;
  padding: 0 2em;
}

@media screen and (max-width: 40em) {
  .flip-flop > div {
    padding: 0;
  }
}

.elements .flip-flop {
  background-color: #93bed0;
  color: #F9F8F2;
}

.elements .flip-flop:nth-child(odd) {
  background-color: #d6eaf9;
  color: #555;
}

.column-quarter{
  width: 25%;
  height: 500px;
}

@media screen and (max-width: 65em){
  .column-quarter{
    width: 50%;
    height: 500px;
  }
}

/*
 :::  Table of contents [Docs]
-------------------------------------------------- */
ul.toc {
  margin: 0;
  border: 1px solid #ddd;
}

.toc li {
  list-style: none;
  display: inline-block;
}

.toc a {
  display: inline-block;
  border: none;
  padding: .75em 0 .75em 3em;
  font-size: .9em;
}

.toc a:hover {
  color: #68bf70;
}

/* Footer
-------------------------------------------------- */
.footer {
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}

/*
 :::  Scroll to top
-------------------------------------------------- */
.to-top {
  position: fixed;
  padding: 1em 2em;
  right: 0;
  bottom: 1em;
  z-index: 999;
}

.to-top:after {
  content: '\2191';
  margin-left: .25em; }
