@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-box-pack: $justify;
     -moz-box-pack: $justify;
     -ms-flex-pack: $justify;
  -moz-justify-content: $justify;
   justify-content: $justify;
}

@mixin justify-content-start {
  -webkit-box-pack: start;
     -ms-flex-pack: start;
   justify-content: flex-start;
}

@mixin flex-wrap($wrap) {
  -ms-flex-wrap: $wrap;
      flex-wrap: $wrap;
}

@mixin flex-direction-row {
     -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
}

@mixin flex-direction-column {
     -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

@mixin flex-direction-row-reverse {
     -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
     -ms-flex-direction:row-reverse;
         flex-direction:row-reverse;
}

@mixin flex($flex) {
  -webkit-box-flex: $flex;
     -moz-box-flex: $flex;
      -webkit-flex: $flex;
          -ms-flex: $flex;
              flex: $flex;
}

@mixin flex-tri-parameters($growth, $shrink, $flex) {
  -webkit-box-flex: $growth;
     -moz-box-flex: $growth;
          -ms-flex: $growth $shrink $flex;
              flex: $growth $shrink $flex;
}

@mixin justify-content-space-between {
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

@mixin flex-align-items($align) {
  -webkit-box-align: $align;
     -ms-flex-align: $align;
        align-items: $align;
}
