// Colors
$offwhite: #ebeae4;
$ltoffwhite: #F9F8F2;
$white: lighten($offwhite, 10%);

$umblue: #02284b;
$galablue: #35536f;
$vividblue: lighten($umblue, 25%);
$greyblue: #93bed0;
$ltgreyblue: #d6eaf9;

$darkgrey: #3b3f4e;
$ltgrey: #9c9c9c;
$ltltgrey: #ddd;
$taggrey: #eee;
$yellow: #E6C64C;
$ltyellow: lighten($yellow, 25%);
$ltltyellow: lighten($yellow, 35%);
$green: #68bf70;

$brown: #ae8059;

$purple: #9179E0;

$pink: #efd7ec;

// Breakpoint
$extra-small-max: 414px;
$small-max: 768px;
$medium-max: 1024px;
$large-max: 1300px;

$mq-extra-small: max-width $extra-small-max;
$mq-small: max-width $small-max;
$mq-medium: max-width $medium-max;
$mq-large: max-width $large-max;
