// Colors
$offwhite: #ebeae4;
$ltoffwhite: #F9F8F2;

$umblue: #02284b;
$galablue: #35536f;
$vividblue: #76ADE0;
$greyblue: #93bed0;
$ltgreyblue: #d6eaf9;

$darkgrey: #3b3f4e;
$ltgrey: #9c9c9c;
$ltltgrey: #ddd;
$yellow: #E6C64C;
$bgyellow: #E2D7A7;
$green: #68bf70;

$brown: #ae8059;

$purple: #9179E0;

// Fonts
$banner-heading: 'jubilat', serif;

$heading-default: 'clarendon-urw', serif;
$heading-small: 'tenso', sans-serif;

$body-text: 'tenso', sans-serif;
