/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix
--------------------------------------------------*/
cf:after {
  content: '';
  display: block;
  clear: both;
}

/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}

/* Links
-------------------------------------------------- */
a {
  color: $galablue;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}

a:hover {
  color: $umblue;
}

/* Site
-------------------------------------------------- */
html {
  font-size: 14pt;
  min-height: 101%;
  background-color: $offwhite;
}

@media screen and (max-width: 40em) {
  html {
    font-size: 90%; } }

body {
  color: $darkgrey;
  line-height: 1.5;
  font-family: "tenso", sans-serif;
}

.site{
    position: relative;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 2em;
}
