/* Button
-------------------------------------------------- */

.button {
  background-color: transparent;
  border: 1px solid $galablue;
  border-radius: 0.5em;
  color: $galablue;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  h5 {
    padding: 0;
    margin: 0;
  }

  &:hover {
    background-color: $galablue;
    color: $ltoffwhite;
  }
}

/* Table of contents [anchor tags]
-------------------------------------------------- */
ul.toc {
  margin: 0;
  border: 1px solid $ltltgrey;

  li {
    list-style: none;
    display: inline-block;
  }

  a {
    display: inline-block;
    border: none;
    padding: .75em 0 .75em 3em;
    font-size: .9em;

    &:hover {
      color: $green;
    }
  }
}
