@import "variables";
@import "normalize";
@import "base";

@import "modules/header";

/* Section
-------------------------------------------------- */
section {
  padding: 4em 2em;
}
/* sections
-------------------------------------------------- */

.action-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  padding: 2em 0;
  margin-bottom: 3em;
  > div {
    flex: 0 0 50%;
    padding: 2em 4em;
    border: 0px solid $yellow;
  }
  img {
    width: 20em;
    display: block;
    margin-top:3em;
    margin-left: 20%;
  }
  h2 {
    padding: 0.75rem;
  }
  h4 {
    clear: left;
  }
  &:nth-child(even) {
    padding-right: 0;
  }
}

@media screen and (min-width: 50em) {
  .action-items div {
    &:nth-child(odd) {
      border-right-width: 1px;
    }
    &:not(:last-child):not(:nth-last-child(2)) {
      border-bottom-width: 1px;
    }
  }
}

@media screen and (max-width: 50em) {
  .action-items > div {
    flex: 0 0 100%;
    padding: 1em;
  }
}

.vision-tagline h1, .elements-tagline h1 {
  margin: 0;
}

.scrollable {
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  background-color: $greyblue;
}

.device-banner {
  background: url("../../content/home/devicebanner.png");
  background-position: absolute;
  min-height: 600px;
  min-width: 4000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: $ltoffwhite;
}

.button {
  background-color: transparent;
  border: 1px solid $galablue;
  border-radius: 0.5em;
  color: $galablue;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  h5 {
    padding: 0;
    margin: 0;
  }

  &:hover {
    background-color: $galablue;
    color: $ltoffwhite;
  }
}

/*columns
-------------------------------------------------- */
.vision-tagline {
  background-color: $green;
  color: $darkgrey;
}

.elements-tagline {
  background-color: $greyblue;
  color: $ltoffwhite;

  h2{
    font-family: "tenso";
  }
}

.elements {
  padding: 0;
  margin: 0;
}

.flip-flop {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

figure img {
  width: 100%;
}

.flip-flop {
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
  > {
    figure {
      flex: 0 1 16.5em;
      position: relative;
    }
    div {
      flex: 0 1 45em;
      padding: 2em 0;
    }
  }
}

@media screen and (min-width: 40em) {
  .flip-flop {
    &:nth-child(odd) > figure {
      margin-left: 4em;
    }
    &:nth-child(even) > figure {
      margin-right: 4em;
    }
  }
}

@media screen and (max-width: 40em) {
  .flip-flop > div {
    padding: 0;
  }
}

.elements .flip-flop {
  background-color: $greyblue;
  color: $ltoffwhite;
  &:nth-child(odd) {
    background-color: $ltgreyblue;
    color: $darkgrey;
  }
}

.vision-frame {
  background: url("../../content/home/greenphoto.jpg");
  background-position: absolute;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  h2{
    font-family: "tenso";
  }
}

@media screen and (max-width: 1572px){
  .vision-frame{
    background: #E2D7A7;
  }
}

.vision {
  padding: 2em;

  img{
    width: 5em;
    display: inline-block;
    float: left;
    padding-right: 0.5em;
  }

  h4 {
    margin-top: 1.5em;
  }

  div:nth-child(4) {
    clear: left;
  }

  .conclude {
    clear: both;
    padding-top: 1.5em;
  }
}

.column {
  width: 33%;
  padding: 0.5em;
  float: left;
}

@media screen and (max-width: 1313px){
  .column{
    width: 45%;
  }

  .vision div:nth-child(3){
    clear: left;
  }

  .vision div:nth-child(4){
    clear:none;
  }
}

/*
 :::  Table of contents [Docs]
-------------------------------------------------- */
ul.toc {
  margin: 0;
  border: 1px solid $ltltgrey;
}

.toc {
  li {
    list-style: none;
    display: inline-block;
  }
  a {
    display: inline-block;
    border: none;
    padding: .75em 0 .75em 3em;
    font-size: .9em;
    &:hover {
      color: $green;
    }
  }
}

/* Footer
-------------------------------------------------- */
.footer {
  padding: 2em;
}

footer > div {
  font-size: .8em;
}

.copyright {
  float: left;
}
.colophon {
  float: right;
}

/*
 :::  Scroll to top
-------------------------------------------------- */
.to-top {
  position: fixed;
  padding: 1em 2em;
  right: 0;
  bottom: 1em;
  z-index: 999;
}

.to-top:after {
  content: '\2191';
  margin-left: .25em; }
