@charset 'utf-8';

@import 'abstracts/variables';
@import 'vendor/breakpoint';
@import 'abstracts/mixins';

@import 'base/normalize';
@import 'base/site';
@import 'base/image';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/flexbox';
@import 'layout/header';
@import 'layout/list';

@import 'components/button';
@import 'components/toc';
@import 'components/breadcrumb';
@import 'components/gala';

@import 'pages/home';
@import 'pages/elementparent';
@import 'pages/actionparent';
@import 'pages/visionparent';
@import 'pages/child';
@import 'pages/timeline';
@import 'pages/guide';
@import 'pages/printproductionguide';
@import 'pages/team';
<<<<<<< HEAD
@import 'pages/conference';
=======
@import 'pages/error';
>>>>>>> develop

@import 'layout/footer';
