* {
  margin: 0;
  padding: 0;
}

header {
  text-align: left;
  padding: 0.5em 0em;
  background-color: #02284b;
  color: #efeae1;
  font-size: 100%;
}

[role="navigation"]{
  list-style-type: none;
  margin: 1em;
}

[role="navigation"] li {
    display: inline-block;
    margin: 0.2em;
    padding-right: 0.5em;
}

.site {
  max-width: 1100px;
  margin: auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex-container > * {
  flex: 0 0 auto;
  height: 100%;
}

header img {
  width: 20em;
  margin: 0.2em;
}
